<div class="addContainer">
    <div class="modalHeader">
        <div class="modal-about">
            {{ data?.title }}
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="form" (ngSubmit)="registrarTarea()">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Titulo</mat-label>
                        <input matInput formControlName="titulo" required>
                        <mat-error *ngIf="form.get('titulo')?.hasError('required')">
                            El titulo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <input matInput formControlName="descripcion">
                        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
                            La descripcion es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Fecha Inicio</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_inicio">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Fecha Fin</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="fecha_final">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Equipo</mat-label>
                        <mat-select formControlName="equipo_id" required>
                            <mat-option *ngFor="let equipo of equipos" [value]="equipo?.id">
                                {{ equipo?.nombre_equipo }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('equipo_id')?.hasError('required')">
                            Seleccione el equipo.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Proyecto</mat-label>
                        <mat-select formControlName="proyecto_id" required>
                            <mat-option *ngFor="let proyecto of proyectos" [value]="proyecto?.id">
                                {{ proyecto?.nombre_proyecto }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('proyecto_id')?.hasError('required')">
                            Seleccione el proyecto.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Asignado</mat-label>
                        <mat-select formControlName="user_id_realiza" required>
                            <mat-option *ngFor="let usuario of usuarios" [value]="usuario?.id">
                                {{ usuario?.nombre_completo }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('user_id_realiza')?.hasError('required')">
                            Seleccionar al asignado que realizara la tarea.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button type="submit" [disabled]="!form.valid || loading" [class.auth-spinner]="loading"
                            mat-raised-button color="primary">Guardar</button>
                        <button type="button" mat-raised-button color="warn" (click)="close()"
                            tabindex="-1">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>