<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Panel de Inicio'" [items]="['Inicio']" [active_item]="'Panel'"></app-breadcrumb>
    </div>
    <div class="row ">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body p-5 d-flex justify-content-center  ">
            <img src="assets/images/portada-tuhogar.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>